############
## Project specific files
############

.gdbinit
.temp_printf
PS2/ps2.zip

############
# Compiled files
############
*.o
PS2/test
PS2/fluid2d

############
# Directories
############
bin/
obj/


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
