############
## Project specific files
############

.gdbinit
.temp_printf

############
# Compiled files
############
*.o

############
# Directories
############
bin/
obj/


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
