############
## Project specific files
############

.gdbinit
.temp_printf

############
## Compiled files
############

*.o
PS1/linkedlist
PS1/test_runner
PS1/ring

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
