############
## Project specific files
############

.gdbinit
Makefile

############
## Generated test files and directories
############

bin/
obj/
work/
testOutPut/
testOutput/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
